@media (max-width: 768px)
    .center
        padding-left: calc(50% - 368px)
        padding-right: calc(50% - 368px)

    .product:last-child
        display: none

    .product-box
        padding-bottom: 40px

    .pages
        padding-top: 0

    .footer__top
        height: 100%
        display: block
        padding-top: 48px
        padding-bottom: 64px

    .advantage
        margin-left: auto
        margin-right: auto

        &:not(:last-child)
            margin-bottom: 48px
